#search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

body {
  backdrop-filter: opacity(0.5);
  backdrop-filter: blur(5px);
  font-family: monospace;
  background: linear-gradient(rgb(122, 22, 22), rgb(117, 25, 25));
}

::selection {
  background: #8233C5;
  color: #fff;
}
.search {
  padding: 20px 30px;
  width: 500px;
  font-weight: 500;
  font-size: 24px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #8233C5;
}
::placeholder {
  font-weight: 500;
  color: #777;
}
