#search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ffffff;
}

body {
    background-image: url('background-pic.png');
    backdrop-filter: opacity(0.5);
    backdrop-filter: blur(5px);
}

::selection {
  background: #8233C5;
  color: #fff;
}
.search {
  padding: 20px 30px;
  width: 500px;
  font-weight: 500;
  font-size: 24px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #8233C5;
}
::placeholder {
  font-weight: 500;
  color: #777;
}
