#search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ffffff;
}

#main-body {
    background-image: url('background-pic.png');
    backdrop-filter: opacity(0.5);
    backdrop-filter: blur(10px);
}
